APP_SECRET=replace-with-a-long-random-secret
DATABASE_URL=sqlite:///./shop.db
BASE_URL=http://127.0.0.1:8000
ESEWA_MODE=sandbox
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
KHALTI_MODE=sandbox
KHALTI_SECRET_KEY=
